# define project status 
PROJECT_STATUS=development

# authentication credentials
GITHUB_ID=
GITHUB_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@example.com

# Next Auth Config
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# mongodb://USERNAME:PASSWORD@HOST:PORT/DATABASE
# DATABASE_URL="mongodb://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=__API_KEY__"
DIRECT_DATABASE_URL="mongodb://user:password@host:port/db_name?schema=public"