@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* From Public Directory */
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Thin.ttf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-ExtraLight.ttf");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-Black.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-ThinItalic.ttf");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-ExtraLightItalic.ttf");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-LightItalic.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts//Poppins-Italic.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-MediumItalic.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-SemiBoldItalic.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-BoldItalic.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../../public/fonts/Poppins-BlackItalic.ttf");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #1ca7ec;
}

::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

::-webkit-scrollbar-corner {
    background-color: #ced4da;
}

body {
    color: rgb(var(--foreground-rgb));
    background: no-repeat
        linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .home-grad {
        @apply before:absolute before:h-52 before:w-52 before:rounded-full before:bg-primary before:opacity-5 before:blur-3xl md:before:left-[50%] md:before:top-[50%] md:before:opacity-20 md:before:[transform:translate(-50%,-50%)];
    }
}

.error {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-200deg, #fff, #f8f9fa, #ced4da, #1ca7ec);
}
.error .error_container {
    display: grid;
    grid-template-columns: 1fr 1.125fr;
    width: 60%;
    gap: 2rem;
}
@media (max-width: 767px) {
    .error .error_container {
        width: 90%;
        grid-template-columns: 1fr;
    }
}
.error .error_container .error_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error .error_container .error_item h1 {
    font-size: 2.75rem;
    font-weight: 600;
}
.error .error_container .error_item h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.error .error_container .error_item p {
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
}
.error .error_container .error_item a {
    color: #1ca7ec;
}
.error .error_container .error_item a:hover,
.error .error_container .error_item a:focus {
    color: #88d6fd;
}
